<p id="notice"><%= notice %></p>
<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %>


<p>
  <b>Name:</b>
  <%= @product.name %>
</p>

<p>
  <b>In cart:</b>
  <%= @product.in_cart %>
</p>

<p>
  <b>Price:</b>
  <%= @product.price %>
</p>
<p>
  <b>Thumb:</b>
  <%= image_tag @product.thumb.url %>
</p>
<h2>Product Images</h2>
<%= link_to "New Product Image", new_product_product_image_path(@product) %>
<div>
<% @product.product_images.each do |i| %>
  <div style="float:left;padding:5px;">
   <%=  link_to image_tag(i.image.url(:small)), i.image.url %>
   <%= link_to  "Delete Image", product_product_image_path(@product, i), :method => :delete, :confirm => 'Are you sure?'%>
  </div>
<% end %>
</div>
